.container {
    text-align: center;
    margin-top: 50px;
    font-size: 25px;
    font-weight: bolder;
  }
  
  input[type="number"] {
    width: 120px;
    padding: 20px;
    margin: 10px;
    font-size: large;
    font-weight: bolder;
  }
  
  button {
    padding: 20px 30px;
    background-color: #000000;
    color: #fff;
    border: none;
    cursor: pointer;
  
  }
  
  #suggestions {
    margin-top: 20px;
    font-size: large;
    font-weight: bolder;
    font-size: 25px;
  }
  .temperature{
    font-size: 25px;
    font-weight: bolder;
  }
